{% extends "mail/__mailTpl.twig.html" %}
{% block pageContent %}
{% autoescape %}        
<h1>Отклик на вашу вакансию!</h1>
<p>
    На вашу вакансию <a href="{{ baseUrl }}job/{{ data.apply.getJob().getId() }}/" >{{ data.apply.getJob().getTitle() }}</a> поступил отклик:
</p>
<h3>{{ data.apply.getName() }}</h3>
<p>
    <b>Обращение:</b> <br/>{{ data.apply.getMessage()|nl2br }}<br/><br/>
    <b>Е-мейл:</b> <a href="mailto:{{ data.apply.getEmail() }}">{{ data.apply.getEmail() }}</a><br/>
    <b>Телефон:</b> {{ data.apply.getPhone() }}<br/>
    <b>Резюме:</b> 
</p>
<ul>
    {% if data.apply.getFacebook()|length>0 %}<li><a href="mailto:{{ data.apply.getFacebook() }}">Профиль на Facebook</a></li>{% endif %}
    {% if data.apply.getLinkedin()|length>0 %}<li><a href="mailto:{{ data.apply.getLinkedin() }}">Профиль на LinkedIn</a></li>{% endif %}
    {% if data.apply.getMoikrug()|length>0 %}<li><a href="mailto:{{ data.apply.getMoikrug() }}">Профиль на moikrug.ru</a></li>{% endif %}
    {% if data.apply.getHh()|length>0 %}<li><a href="mailto:{{ data.apply.getHh() }}">Профиль на HH.ru</a></li>{% endif %}
</ul>

{% endautoescape %}            
{% endblock %}        