{% extends "__page.twig.html" %}
{% block title %}Бумажные пакеты. Полиэтиленовые пакеты. Печать и производство.{% endblock %}
{% block metaDescription %}Бумажные пакеты. Полиэтиленовые пакеты. Печать и производство.{% endblock %}
{% block head %}
<link type="text/css" href="/css/bags_materials.css" rel="stylesheet"/>
{% endblock %}


{% block headSubtitle %}Любые материалы, цвета и сложность исполнения{% endblock %}

{% block pageContent %}
<div class="section whiteplane">
    <div class="sectionContent">
        <h1>Виды пакетов, цвета и материалы</h1>
        <p>Мы производим бумажные пакеты, полиэтиленовые пакеты, пакеты из крафт-бумаги с печатью вашего логотипа. Для каждого вида пакетов есть свои физические свойства, технологические ограничения и области применения.</p>
    </div>
</div>
<div class="section materials">
    <div class="sectionContent">
        <div class="columns columns_2">
            <div class="col col_3">
                <h3>Бумажные пакеты</h3>
                <p>Бумажные пакеты изготавливаются из различных видов материалов на основе целлюлозы с примесями и пропитками и без них. Бумаги различаются по составу, цветовой гамме, текстуре, физическим характеристикам.
                    <br/>В основном пакеты производятся из мелованой бумаги плотностью 170гр и ламинируются для прочности. Также могут использоваться дизайнерские материалы: Эфалин (EFALIN), ЛюксПак (LUXPACK), Имитлин (IMITLIN), Плайк (Plike), Полилит (Polylith).</p>
                <a href="/bags/price/" class="button">Стоимость бумажных пакетов</a>
            </div>
            <div class="col col_6">
                <img src="/img/bags_mat_pic_1.png" alt="Материалы и цвета бумажных пакетов. Дизайнерская бумага"/>
            </div>
        </div>
        <div class="columns columns_2">
            <div class="col col_3">
                <h3>Крафт-пакеты</h3>
                <p>Крафт бумага – более экологичная, так как она не обрабатывается химическими средствами  при производстве и хорошо перерабатывается вторично. Она используется в качестве упаковочной бумаги, а также для производства пакетов и фасовочных мешков, используемых в кафе, ресторанах и супермаркетах для фасовки еды, а также супучей и штучной продукции.</p>
                <a href="/bags/price/" class="button">Стоимость крафт-пакетов</a>
            </div>
            <div class="col col_6">
                <img src="/img/bags_mat_pic_2.png" alt="Крафт-пакеты из экологичной упаковочной бумаги"/>
            </div>
        </div>
        <div class="columns columns_2">
            <div class="col col_3">
                <h3>Полиэтиленовые пакеты</h3>
                <p>Наиболее крепкие и представительные – пакеты ПВД (из полиэтилена высокого давления). Другой вид – пакеты ПНД (полиэтилен низкого давления) . Это фасовочные пакеты, используемые для переноски товаров.
                    <br/>Для выставок и в подарок клиентам чаще заказывают фирменные пакеты ПВД. Супермаркеты, магазины, некоторые предприятия сферы обслуживания чаще заказывают фирменные пакеты ПНД. </p>
                <a href="/bags/price/" class="button">Стоимость полиэтиленовых пакетов</a>
            </div>
            <div class="col col_6">
                <img src="/img/bags_mat_pic_3.png" alt="Полиэтиленовые пакеты. Пакеты ПВД с логотипом"/>
            </div>
        </div>
        <div class="columns columns_2">
            <div class="col col_3">
                <h3>Ручки для бумажных пакетов</h3>
                <p>Для крафт-пакетов ручки бывают бумажные ленточные и бумажные плетёные. Оба типа приклеиваются к пакету.
                    <br/>Для бумажных, картонных пакетов использются тесьма, шнуры и ленты. На лентах также можно разместить вашу символику.</p>
            </div>
            <div class="col col_6">
                <img src="/img/bags_mat_pic_4.png" alt="Ручки для крафт-пакетов. Ручки для бумажных пакетов. Плетёные, ленточные бумажные ручки. Шнуры, тесьма и ленты."/>
            </div>
        </div>
    </div>
</div>

{% include '_sections/_about.twig.html' %}
{% include '_sections/_contacts.twig.html' %}
{% endblock %}        