{% extends "__page.twig.html" %}
{% block title %}Бумажные пакеты. Полиэтиленовые пакеты. Печать и производство.{% endblock %}
{% block metaDescription %}Бумажные пакеты. Полиэтиленовые пакеты. Печать и производство.{% endblock %}
{% block head %}
<link type="text/css" href="/css/feedback.css" rel="stylesheet"/>
{% endblock %}


{% block headSubtitle %}Принимаем заказы любой сложности и объёма{% endblock %}

{% block pageContent %}
    {% include '_sections/_feedback.twig.html' %}
{% endblock %}        