{% extends "POS/_page.twig.html" %}
{% block head %}
<!--<link type="text/css" href="/css/feedback.css" rel="stylesheet"/>-->
{% endblock %}        

{% block pageContent %}
<div class="section">
    <div class="sectionContent sectionVPadding_30">
        <h3>Мы изготавливаем POS-материалы для точек продаж:</h3>
        <ul>
            <li>Воблеры</li>
            <li>Некхенгеры</li>
            <li>Шелфтокеры</li>
            <li>Тейбл тенты</li>
            <li>Мобайлы</li>
            <li>Муляжи или джумби</li>
            <li>Флажки и гирлянды</li>
            <li>Коробки для чеков и лотки</li>
            <li>Световые рекламные конструкции</li>
            <li>Шоубоксы</li>
            <li>Паллетные выкладки и ценники</li>
            <li>Промо-стойки</li>
            <li>Дисплеи</li>
            <li>Стрип-холдеры или стрип-ленты</li>
            <li>Диспенсеры</li>
        </ul>
    </div>
</div>
    {% include '_sections/_notReadyYet.twig.html' %}
    {% include '_sections/_contacts.twig.html' %}
{% endblock %}        