form.darkLoweredPlane{
    display:block;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 5px -2px #000;
    border-bottom: #fff 1px solid;
    padding:20px;
}




form, fieldset, label{display:block; margin:0; padding:0; border:none; }
fieldset label{padding-left:10px; padding-bottom: 5px;}
label{
    font-family: Georgia, serif;
    font-style: italic;
    color:#666;
    text-shadow: 0 1px 0 #fff;
}

input, textarea, select {
    display: inline-block;
    box-shadow: 0 1px 0px 0px #fff, inset 0 2px 4px -1px rgba(0,0,0,0.5);
    border-radius: 5px;
    border: #666 solid 1px;
    padding:5px 10px;
}



input, textarea{
}

input:disabled, textarea:disabled, select:disabled {
    background: rgba(255,255,255,0.5);
}

input.big{
    font-size:27px;
    line-height:27px;
    padding:7px 20px 8px 20px;
    box-shadow: inset 0 3px 6px -1px rgba(0,0,0,0.6);
}


form input[type=checkbox], input[type=radio]{width: auto !important; min-width: 0px !important; margin-right: 10px; box-shadow: none !important; border:none !important;}



form fieldset{
    margin-bottom: 10px;
}

form fieldset ins{
    display: inline-block;
    position: relative;
    font-style: italic;
    text-decoration: none;
    font-family: Georgia, serif;
    font-weight: normal;
    padding:5px 0 0 10px;
    color:#666;
    font-size: 11px;
}

form .error{box-shadow: inset 0 0 5px #a00; border: 1px solid #a00; color: #a00;}





form fieldset.inline{
    display: inline-block;
    margin:0 10px 10px 0;
}
form fieldset.inline input,
form fieldset.inline select,
form fieldset.inline textarea{ width:auto;}

