{% extends "__page.twig.html" %}
{% block title %}Работу мечты найти легко!{% endblock %}


{% block headline %}{% endblock %}        
{% block pageContent %}
<div class="section">
    <div class="sectionContent">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h1>Ой! Не та дверь.</h1>
        Запрашиваемый документ отсутствует.<br/> Возможно, адрес уже устарел или никогда не существовал вовсе.
        <br/>Попробуйте начать поиск с <a href="/bags/">рекламных пакетов</a>.
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</div>
{% endblock %}