<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru-RU" prefix="og: http://ogp.me/ns">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width; initial-scale=1.0"/>
        <meta name="description" content="{% block metaDescription %}Рекламная полиграфия любой сложности. Надёжно, качественно, дёшево.{% endblock %}"/>
        <meta name="google-site-verification" content="Vynz4fBo5nEzJu3xf32GH3ju41mDTtTfk90137T-6hc" />
        <link rel="shortcut icon" href="/img/favicon.png" />
        <title>{% block title %}{% endblock %} GS-Print - качественная полиграфия</title>
        <link type="text/css" href="/css/style.css" rel="stylesheet"/>
        <link type="text/css" href="/css/form.css" rel="stylesheet"/>
        <script src="/js/jquery-1.9.0.min.js"></script>
        {% if formErrorsJSON|length>0 %}
        <script>
            formErrors = {{ formErrorsJSON|raw }};
        </script>
        {% endif %}
        <script src="/js/forms.js"></script>
        {% block head %}
        {% endblock %}

        <meta property='og:locale' content='ru_RU'/>
        <meta property='og:type' content='website'/>
        <meta property='og:site_name' content='GS-Print'/>
        {% block openGraph %}
        {% endblock %}
<!--        <meta property='og:image' content='http://handsandheads.ru/img/logo_square.png'/>-->
        
    </head>
    <body>
        <div id="topMenu" class="section">
            <div class="sectionContent">
                <a href="/"><img src="/img/topmenu_logo.png" height="38" alt="GS-Print - Рекламная полиграфия любой сложности" /></a>
                <ul>
                    <li>
                        {% if navigation.section and navigation.structure[navigation.section]|length>0 %}
                        <a href="/{{ navigation.section }}/">{{ navigation.structure[navigation.section].name }}</a>
                        {% else %}
                        <a href="/">Рекламная полиграфия для бизнеса</a>
                        {% endif %}
                        <div class="dropdown">
                            <ins></ins>
                            <ul>
                                {% for key,n in navigation.structure %}
                                <li><a href="/{{ key }}/">{{ n.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li> 
                </ul>
                <ul class="right">
                    <li><a href="/about/">О компании</a></li>
                    <li><a href="/contact/">Контакты</a></li>
                </ul>
            </div>
        </div>
        {% block headline %}
        <div id="topHead" class="section">
            <div class="sectionContent">
                <div class="contacts">
                    <h3>консультации и заказ по телефонам</h3>
                    <p>+7 (495) 729-1115<br/>+7 (903) 102-0777</p>
                </div>
                <h1>{% block headTitle %}Производство пакетов с вашей символикой{% endblock %}</h1>
                <h3>{% block headSubtitle %}Качественно, оперативно, надёжно. Полиграфия любой сложности{% endblock %}</h3>
                
                {% block headMenu %}
                    {% if navigation.section and navigation.structure[navigation.section]|length>0 %}
                    <ul class="menu right">
                        {% for path,name in navigation.structure[navigation.section].pages %}
                        <li><a href="/{{ navigation.section }}/{{ path }}/" {{navigation.page==path? 'class="active"' : '' }}>{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
        {% endblock %}
        <noindex><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=497383316981184";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script></noindex>
        
{% block pageContent %}{% endblock %}                

        <div id="footer" class="section">
            <div class="sectionContent">
                <span>(с) GS-Print, 2013</span>
                <br/>
                Производство рекламной полиграфии
                <div class="fright">
                    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
                    <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus"></div> 
                </div>
            </div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter20693440 = new Ya.Metrika({id:20693440,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/20693440" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

        </div>
    </body>
</html>        