{% extends "_about.twig.html" %}
{% block title %}О компании {% endblock %}
{% block metaDescription %}Компания GS-Print надёжный партнёр и подрядчик для производства рекламной полиграфии.{% endblock %}

{% block headSubtitle %}10 лет на рынке рекламной полиграфии{% endblock %}

{% block pageContent %}
<div class="section">
    <div class="sectionContent sectionVPadding_30">
        <div class="columns columns_2">
            <div class="col col_5">
                <h1>О типографии</h1>
                <p class="margin">Мы работаем на рынке рекламной полиграфии уже более 10 лет. Мы отлично знаем своё дело и идём в ногу со временем. </p>
                <p class="margin">GS-Print обладает собственными производственными ресурсами (поставщики материалов, оборудование, специалисты), поэтому мы ни от кого не зависим. Это позволяет нам держать стоимость низкой и гарантировать выполнение работ точно в срок.</p>
                <p class="margin">Мы настроены на долгосрочные отношения с вами. Для этого мы держим высокую планку качества наших услуг и предлагаем нашим постоянным клиентам персональные скидки.</p>
                <p class="margin">И, возможно, самое главное - мы понимаем, что вы также ведёте бизнес и для вас также важно расти и получать прибыль. Мы с вами заодно! Для вас мы готовы взять на себя заботы, связанные с производством рекламной полиграфии.</p>
            </div>
            <div class="col col_5 textSmall_13">
                <h3>Мы производим для вас:</h3>
                <h4>Пакеты с вашей символикой</h4>
                <p class="margin">
                    <a href="/bags/" title="Производство бумажных пакетов">Бумажные пакеты</a>,
                    <a href="/bags/" title="Крафт-пакеты с логотипом">Пакеты из крафт-бумаги</a>,
                    <a href="/bags/" title="Фасовочные пакеты и мешки с логотипом">Фасовочные пакеты</a>
                </p>
                <h4>Атрибутика фирменного стиля</h4>
                <p class="margin">
                    <a href="/corporate/">Визитки</a>,
                    <a href="/corporate/">Бланки</a>,
                    <a href="/corporate/">Конверты</a>,
                    <a href="/corporate/">Папки</a>
                </p>
                <h4>Для мероприятий</h4>
                <p class="margin">
                    Раздаточные, рекламные материалы для выставок и конференций.<br/>
                    <a href="/events/">Буклеты</a>,
                    <a href="/events/">Брошюры</a>,
                    <a href="/events/">Открытки</a>,
                    <a href="/events/">Приглашения</a>,
                    <a href="/events/">Листовки</a>,
                    <a href="/events/">Беджи</a>,
                    <a href="/events/">Футболки</a>
                </p>
                <h4>POS-материалы</h4>
                <p class="margin">
                    Оформление точек продаж.<br/>
                    <a href="/POS/">Штендеры</a>,
                    <a href="/POS/">Роллапы</a>,
                    <a href="/POS/">Воблеры</a>,
                    <a href="/POS/">Шоубоксы</a>,
                    <a href="/POS/">Световые конструкции</a>
                </p>
                <h4>Упаковка</h4>
                <p class="margin">
                    <a href="/pack/">Коробки</a>,
                    <a href="/pack/">Футляры</a>,
                    <a href="/pack/">Тубусы</a>,
                    <a href="/pack/">Боксы CD/DVD</a>,
                    <a href="/pack/">Ярлыки и наклейки</a>
                </p>
                <h4>Сувенирная и промо-продукция</h4>
                <p class="margin">
                    <a href="/souvenir/">Ежедневники</a>,
                    <a href="/souvenir/">Ручки</a>,
                    <a href="/souvenir/">Брелоки</a>,
                    <a href="/souvenir/">Зажигалки</a>,
                    <a href="/souvenir/">Спички и коробки</a>,
                    <a href="/souvenir/">Пепельницы</a>,
                    <a href="/souvenir/">Этикетки для бутылок</a>,
                    <a href="/souvenir/">Магниты</a>,
                    <a href="/souvenir/">Пазлы</a>,
                    <a href="/souvenir/">Текстиль</a>,
                    <a href="/souvenir/">Часы</a>,
                    <a href="/souvenir/">Посуда</a>
                </p>
                <h4>Наружная реклама</h4>
                <p class="margin">
                    <a href="/outdoor/">Вывески</a>,
                    <a href="/outdoor/">Баннеры</a>,
                    <a href="/outdoor/">Перетяжки</a>,
                    <a href="/outdoor/">Штендеры</a>,
                    <a href="/outdoor/">Рекламные щиты</a>,
                    <a href="/outdoor/">Световые конструкции</a>
                </p>
                
                <p>А также многое другое... Ассортимент и сложность могут ограничиваться только фантазией!</p>
                
            </div>
        </div>

    </div>
</div>

{% include '_sections/_contacts.twig.html' %}
{% endblock %}        