{% extends "_about.twig.html" %}
{% block title %}О компании {% endblock %}
{% block metaDescription %}Компания GS-Print надёжный партнёр и подрядчик для производства рекламной полиграфии.{% endblock %}

{% block headSubtitle %}10 лет на рынке рекламной полиграфии{% endblock %}

{% block pageContent %}
<div class="section">
    <div class="sectionContent sectionVPadding_30">
        <h1>Несколько слов о нашей компании</h1>
        <div class="columns columns_2">
            <div class="col col_5">
                <p class="margin">Мы работаем на рынке рекламной полиграфии уже более 10 лет. Мы отлично знаем своё дело и идём в ногу со временем. </p>
                <p class="margin">GS-Print обладает собственными производственными ресурсами (поставщики материалов, оборудование, специалисты), поэтому мы ни от кого не зависим. Это позволяет нам держать стоимость низкой и гарантировать выполнение работ точно в срок.</p>
                <p class="margin">Мы настроены на долгосрочные отношения с вами. Для этого мы держим высокую планку качества наших услуг и предлагаем нашим постоянным клиентам персональные скидки.</p>
                <p class="margin">И, возможно, самое главное - мы понимаем, что вы также ведёте бизнес и для вас также важно расти и получать прибыль. Мы с вами заодно! Для вас мы готовы взять на себя заботы, связанные с производством рекламной полиграфии.</p>
            </div>
            <div class="col col_5 textSmall_13">
                <h3>Мы производим для вас:</h3>
                <h4>Пакеты с вашей символикой</h4>
                <p class="margin">
                    <a href="/bags/">Бумажные пакеты</a>,
                    <a href="/bags/">Пакеты из крафт-бумаги</a>,
                    <a href="/bags/">Фасовочные пакеты</a>
                </p>
                <h4>Атрибутика фирменного стиля</h4>
                <p class="margin">
                    <a href="/corporate/">Визитки</a>,
                    <a href="/corporate/">Бланки</a>,
                    <a href="/corporate/">Конверты</a>,
                    <a href="/corporate/">Папки</a>
                </p>
                <h4>Для мероприятий</h4>
                <p class="margin">
                    Раздаточные и рекламные материалы для выставок, конференций и т.п.<br/>
                    <a href="/events/">Визитки</a>,
                    <a href="/events/">Бланки</a>,
                    <a href="/events/">Конверты</a>,
                    <a href="/events/">Папки</a>
                </p>
            </div>
        </div>

    </div>
</div>

{% include '_sections/_contacts.twig.html' %}
{% endblock %}        