{% extends "__page.twig.html" %}
{% block title %}Работу мечты найти легко!{% endblock %}
{% block head %}
    {{ parent() }}
    <link type="text/css" href="/css/index.css" rel="stylesheet"/>
{% endblock %}

{% block pageContent %}

<div id="page" class="indexPage">
    <div class="sideFields sectionHead">
        <div class="widthLimit ">
            <ins class="cloud cloud1"></ins>
            <ins class="cloud cloud2"></ins>
            <h1>Живой поиск работы</h1>
            <h3 class="loweredLighthalf">с человеческим лицом</h3>
        </div>
    </div>
    <div class="sideFields sectionSearch">
        <div class="widthLimit ">
            <form action="/getInvite/" method="post">
            
            <div class="searchContainer">
                <fieldset>
                    <label>Город</label>
                    <select disabled="disabled" title="На время тестирования сервиса работаем только с Москвой. Следите за новостями!"><option>Москва</option></select>
                </fieldset>
                <fieldset>
                    <label>Отрасль</label>
                    <select disabled="disabled" title="Пока мы специализируемся только в области IT-компаний"><option>IT, интернет, телеком</option></select>
                </fieldset>
                <fieldset>
                    <label>Профессиональная область</label>
                    <select name="profession">
                        <option value="">--- Выберите вашу область ---</option>	
                        {% for prof in data.professions %}
                        <option value="{{ prof.getId() }}">{{ prof.getName }}</option>				
                        {% endfor %}
                    </select>
                </fieldset>
                <fieldset>
                    <label>Зарплата</label>
                    <input name="salary" />
                </fieldset>
            </div>
            
            <table class="buttonLine">
            <tr>
                <td><i>&nbsp;</i></td>
                <td class="main">
                    <input class="big" type="email" min="5" name="email" placeholder="Ваш е-мейл" />
                    <button class="big green">Получить инвайт</button>
                </td>
                <td><i>&nbsp;</i></td>
            </tr>
            </table>
        </form>
        </div>
    </div>
    
    
    <div class="sideFields sectionAbout">
        <div class="widthLimit">
            <h3 class="loweredLight">Что особенного?</h3>
            <table>
                <tr>
                    <td class="info">
                        <p>
                            Hands&amp;Heads - это сервис поиска работы и подбора персонала, 
                            усиленный классическими подходами из сферы маркетинга и продаж,  
                            а также сдобренный щепоткой любви и заботы о людях. 
                        </p>
                        <p>
                            Наша ключевая ценность - это честность и открытость информации 
                            о вакансиях, компаниях и людях. Благодаря этому подходу и некоторой 
                            изобретательности нам удаётся показывать значительные результаты.
                        </p>
                    </td>
                    <td class="features">
                        <ul>
                            <li>Высокая информативность вакансий</li>
                            <li>Увеличение откликов</li>
                            <li>Экономия времени при отборе и собеседованиях</li>
                        </ul>
                    </td>
                </tr>
            </table>
            <br/>
            <h3 class="loweredLight">Для рекрутеров и работодателей</h3>
            <table>
                <tr>
                    <td class="info">
                        <p>
                            Мы предлагаем набор услуг для того чтобы сделать вашу вакансию наиболее эффективной и конкурентоспособной. 
                        </p>
                        <p>
                            Чтобы этого добиться, мы используем навыки лучших специалистов из разных областей - копирайтеров, HR-менеджеров и рекламщиков. Все они трудятся для того чтобы именно ваша вакансия привлекла внимание лучших из лучших.
                        </p>
                    </td>
                    <td class="features">
                        <p>Узнайте, почему и как мы это делаем:</p>
                        <a href="/forHR/" class="button green">3 шага к созданию эффективной ваканси</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    
    <div class="sideFields sectionSocial">
        <div class="widthLimit">
            <table>
                <tr>
                    <td class="info">
                        <h3 class="loweredLight">Оставайтесь с нами!</h3>
                        <p>
                            Подпишитесь на наши группы в социальных сетях, 
                            чтобы не пропустить важные новости и интересные вакансии.
                        </p>
                    </td>
                    <td class="socBlock">
                        <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=497383316981184";
                        fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>  
                        
                        <div class="fb-like-box" data-href="http://www.facebook.com/HandsAndHeads" data-width="250" data-height="250" data-show-faces="true" data-stream="false" data-header="true"></div>
                    </td>
                    <td class="socBlock">
                        <script type="text/javascript" src="//vk.com/js/api/openapi.js?78"></script>
                        <div id="vk_groups"></div>
                        <script type="text/javascript">
                        VK.Widgets.Group("vk_groups", {mode: 0, width: "250", height: "250"}, 49233805);
                        </script>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}        