{% extends "outdoor/_page.twig.html" %}
{% block head %}
<!--<link type="text/css" href="/css/feedback.css" rel="stylesheet"/>-->
{% endblock %}        

{% block pageContent %}
<div class="section">
    <div class="sectionContent sectionVPadding_30">
        <h3>Делаем вас заметнее среди обилия уличной рекламы:</h3>
        <ul>
            <li>Баннеры</li>
            <li>Перетяжки</li>
            <li>Вывески</li>
            <li>Световые конструкции</li>
            <li>Рекламные щиты</li>
            <li>Широкоформатная печать</li>
        </ul>
    </div>
</div>
    {% include '_sections/_notReadyYet.twig.html' %}
    {% include '_sections/_contacts.twig.html' %}
{% endblock %}        