{% extends "souvenir/_page.twig.html" %}
{% block head %}
<!--<link type="text/css" href="/css/feedback.css" rel="stylesheet"/>-->
{% endblock %}        

{% block pageContent %}
<div class="section">
    <div class="sectionContent sectionVPadding_30">
        <h3>Мы брендируем для вас сувенирную продукцию:</h3>
        <ul>
            <li>Зажигалки</li>
            <li>Ручки</li>
            <li>Спички и коробки</li>
            <li>Пепельницы</li>
            <li>Ежедневники</li>
            <li>Текстиль</li>
            <li>Посуда</li>
            <li>Часы</li>
            <li>Магниты</li>
            <li>Календари</li>
            <li>Пазлы</li>
            <li>Шампанское и вино с вашим логотипом</li>
        </ul>
    </div>
</div>
    {% include '_sections/_notReadyYet.twig.html' %}
    {% include '_sections/_contacts.twig.html' %}
{% endblock %}        