{% extends "corporate/_page.twig.html" %}
{% block head %}
<link type="text/css" href="/css/corporate_index.css" rel="stylesheet"/>
<link type="text/css" href="/css/feedback.css" rel="stylesheet"/>
{% endblock %}        

{% block pageContent %}
<div class="section bigBanner">
    <div class="sectionContent">
        <h1>Бланки, визитки, конверты, блокноты</h1>
        <h3>цифровая и офсетная печать вашей фирменной символики</h3>
        <img src="/img/corporate_banner.png" class="banner" alt="Печать визиток, бланков, конвертов"/>
    </div>
</div>
<div class="section">
    <div class="sectionContent ribbonCosts">
        <table>
            <tr>
                <td class="first">
                    <h4>Визитки</h4>
                    <span>от <b>3</b> руб./шт.</span>
                </td>
                <td>
                    <h4>Бланки</h4>
                    <span>от <b>8</b> руб./шт.</span>
                </td>
                <td>
                    <h4>Конверты</h4>
                    <span>от <b>9</b> руб./шт.</span>
                </td>
                <td>
                    <h4>Блокноты</h4>
                    <span>от <b>50</b> руб./шт.</span>
                </td>
                <td>
                    <a href="/corporate/price/" class="button middle">Расчитать стоимость</a>
                </td>
            </tr>
        </table>
    </div>
</div>
{#
<div class="section">
    <div class="sectionContent portfolio">
        <h1>Образцы готовой продукции</h1>
<!--        <h4>Каждый пакет уникален, как и наши клиенты</h4>-->
        <a href="/bags/samples/" class="arrowLink">Портфолио</a>
        <ul>
            <li><a href="/bags/samples/"><img src="/img/samples/bags/1.png" width="121" height="97" alt="Пример бумажного пакета"></a></li>
            <li><a href="/bags/samples/"><img src="/img/samples/bags/2.png" width="121" height="97" alt="Пример бумажного пакета"></a></li>
            <li><a href="/bags/samples/"><img src="/img/samples/bags/3.png" width="121" height="97" alt="Пример бумажного пакета"></a></li>
            <li><a href="/bags/samples/"><img src="/img/samples/bags/4.png" width="121" height="97" alt="Пример бумажного пакета"></a></li>
            <li><a href="/bags/samples/"><img src="/img/samples/bags/5.png" width="121" height="97" alt="Пример бумажного пакета"></a></li>
        </ul>
        <div class="shelf"></div>
    </div>
</div>
#}

{% include '_sections/_about.twig.html' %}
{% include '_sections/_contacts.twig.html' %}
{% include '_sections/_social.twig.html' %}
{% endblock %}        